<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="tiempo">Tiempo Utrera</a>
            <a mat-list-item routerLink="reloj">Reloj</a>
            <a mat-list-item routerLink="formulario">Formulario</a>

            <div style="position: absolute; bottom: 0;">
                <app-reloj [estilo]="'small'" (multiplo10)="actualizar($event)"></app-reloj>
                <h3 style="margin: 1em;">{{mensaje}} (se actualiza cada 10 segundos y se resetea cada minuto)</h3>
            </div>

        </mat-nav-list>


    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Poyecto Álvaro López Álvarez</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>